# Midnight Network & Contract Configuration
VITE_NETWORK=undeployed
VITE_CONTRACT_ADDRESS=444f33167a85a49ed3a197e2944742463bca0a98364570caa8f116c13cb91954
VITE_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_INDEXER_URL=http://127.0.0.1:8088/api/v4/graphql
VITE_NODE_RPC_URL=ws://127.0.0.1:9944

# Public Network Settings (Optional for Preprod / Preview)
# MIDNIGHT_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
# MIDNIGHT_NODE_URL=https://rpc.preprod.midnight.network
